{% extends "layout.html" %}
{% block content %}
    <form id="post_form" action="/review/post" method="POST">
        <p id="error_message"></p>
        <select name="class_id" id="id">
            {% for class in classes %}
                <option value="{{ class[0] }}">
                    {{ class[1] }}
                </option>
            {% endfor %}
        </select>
        <br/>
        comment
        <br/>
        <input id="comment" type="textarea" name="comment" />
        <br/>
    </form>
    <button id="submit">送信</button>
{% endblock %}
{% block endscript %}
    <script>
    document.querySelector("#submit").addEventListener("click", () => {
        let comment = document.querySelector("#comment").value;
        console.log(comment,comment.includes(";"));
        if (comment == "" || comment.includes(";")) document.querySelector("#error_message").innerText = "コメントが空白、または;を含めることは許可されていません";
        else {
            document.querySelector("#error_message").innerText = "";
            document.querySelector("#post_form").submit();
        }
    });
    </script>
{% endblock %}
