{% extends "layout.html" %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-8">
            <form class="mb-3" id="post_form" action="/review/post" method="POST">
                <select aria-label="授業" class="form-select mb-3" name="class_id" id="id">
                    {% for class in classes %}
                        <option value="{{ class[0] }}">
                            {{ class[1] }}
                        </option>
                    {% endfor %}
                </select>
                <div class="mb-3">
                    <label for="comment" class="form-label">レビュー内容</label>
                    <textarea name="comment" type="comment" class="form-control" id="comment"></textarea>
                    <small id="error_message" class="form-text text-muted text-danger"></small>
                </div>
            </form>
            <button class="btn btn-primary" id="submit">投稿</button>
        </div>
    </div>
{% endblock %}
{% block endscript %}
    <script>
    document.querySelector("#submit").addEventListener("click", () => {
        document.querySelector("#error_message").innerText = "";
        let comment = document.querySelector("#comment").value;
        console.log(comment,comment.includes(";"));
        if (comment == "" || comment.includes(";") || comment.includes("'") || comment ('"'))
            document.querySelector("#error_message").innerText = "コメントが空白、または;'_\"を含めることは許可されていません";
        else {
            document.querySelector("#post_form").submit();
        }
    });
    </script>
{% endblock %}
