{% extends "layout.html" %}
{% block content %}
    <h1>パスワード変更</h1>
    <form id="password_form" action="/profile/change_password" method="POST">
        <label for="old_password">現在のパスワード</label>
        <input type="text" name="old_password" />
        <br />
        <p id="error_message"></p>
        <label for="new_password">新しいパスワード</label>
        <input id="new_password" type="password" name="new_password" />
        <br />
        <label for="new_password_confirmation">新しいパスワード（確認用）</label>
        <input id="confirm_password"
               type="password"
               name="new_password_confirmation"/>
    </form>
    <button id="submit">パスワードを更新</button>
{% endblock %}
{% block endscript %}
    <script>
    document.querySelector("#submit").addEventListener("click", () => {
        let new_password = document.querySelector("#new_password").value;
        let confirm_password = document.querySelector("#confirm_password").value;
        if (new_password != confirm_password) document.querySelector("#error_message").innerText = "新しいパスワードと新しいパスワード（確認用）が一致しません";
        else {
            document.querySelector("#error_message").innerText = "";
            document.querySelector("#password_form").submit();
        }
    });
    </script>
{% endblock %}
