{% extends "layout.html" %}
{% block content %}
    <!-- 名前 パスワード プロファイル写真 -->
    <h1>パスワード変更</h1>
    <form action="/profile/change_password" method="POST">
        <label for="old_password">現在のパスワード</label>
        <input type="text" name="old_password" />
        <br />
        <label for="new_password">新しいパスワード</label>
        <input type="password" name="new_password" />
        <br />
        <label for="new_password_confirmation">新しいパスワード（確認用）</label>
        <input type="password" name="new_password_confirmation" />
        <input type="submit" value="パスワードを更新" />
    </form>
{% endblock %}
