{% extends "layout.html" %}
{% block script %}<script></script>{% endblock %}
{% block content %}
    <h1>Home</h1>
    <a href="/review/post">add new review</a>
    {% for class in classes %}
        <div>
            <h2>{{ class.title }}</h2>
            <ul>
                {% for review in reviews %}
                    {% if review.class_id == class.class_id %}
                        <li>
                            {{ review.written_by }}:{{ review.short_description }}
                            <a href="/review/{{ review.review_id }}">詳細</a>
                            {% if review.user_id == user_id %}
                                <a href="/review/delete/{{ review.review_id }}">削除</a>
                                <a href="/review/edit/{{ review.review_id }}">編集</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <script></script>
        </div>
    {% endfor %}
{% endblock %}
