<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>Dhu Class Review Site</title>
        <link rel="stylesheet"
              href="https://unpkg.com/modern-css-reset/dist/reset.min.css"/>
        {% block script %}{% endblock %}
    </head>
    <body>
        <header>
            <a href="/">home</a>
            {% if is_signin %}
                <a href="/logout">logout</a>
                <a href="/profile">my profile</a>
            {% endif %}
        </header>
        {% if error_message != None %}<p>ERROR: "{{ error_message }}"</p>{% endif %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block endscript %}{% endblock %}
    </body>
</html>
