{% extends "layout.html" %}
{% block content %}
    <!-- 名前 パスワード プロファイル写真 -->
    <h1>マイプロファイル</h1>
    <form action="/profile" method="POST">
        <img src="{{ icon_path }}"
             style="width: 100px;
                    height: 100px"
             alt="ユーザーアイコン"/>
        <br />
        <input type="file" name="icon" />
        <br />
        <input type="text" name="username" value="{{ username }}" />
        <br />
        <a href="/profile/change_password">パスワードを変更する</a>
        <br />
        <input type="submit" value="プロファイルを更新" />
    </form>
{% endblock %}
